<% provide(:bodyclass, "home") %>
<div class="container-fluid animated fadeInDown">
  <div id="header-home">$12,345</div>
  <ul id="tool">
    <li id="expense">
      <%= link_to "新增支出", { :controller => "expense" } %>
    </li>
    <li id="account">
      <%= link_to "帳戶總覽", { :controller => "account" } %>
    </li>
    <li id="income">
      <a href="">新增收入</a>
    </li>
  </ul>
</div>