:erb
  <% provide(:bodyclass, "home") %>

.container-fluid.animated.fadeInDown
  #header-home Balance $12,345
  %ul#tool
    %li#expense
      = link_to "新增支出", expense_index_path
    %li#account
      = link_to "帳戶總覽", account_index_path
    %li#income
      = link_to "帳戶總覽", "account_index_path"