:erb
	<% provide(:bodyclass, "account") %>

.container-fluid.animated.fadeInDown
	#header.classfix
		帳戶總覽
		.pull-left
			= link_to "Back", home_index_path , { :class => "btn btn-mini btn-info" }
		.pull-right
			= link_to "Add", new_account_path , { :class => "btn btn-mini btn-info" }
	%ul
		-if @cash_accounts.count > 0
			%li.type-title 現金
			- @cash_accounts.each do |cash|
				%a{ :href => edit_account_path(cash.id) }
					%li.type-cash
						=cash.name
						.pull-right
							$
							=cash.balance
		-if @credit_card_accounts.count > 0
			%li.type-title 銀行帳戶
			- @credit_card_accounts.each do |credit_card|
				%a{ :href => edit_account_path(credit_card.id) }
					%li.type-credit_card
						=credit_card.name
						.pull-right
							$
							=credit_card.balance
		-if @bank_accounts.count > 0
			%li.type-title 現金
			- @bank_accounts.each do |bank|
				%a{ :href => edit_account_path(bank.id) }
					%li.type-bank
						=bank.name
						.pull-right
							$
							=bank.balance
		-if @emoney_accounts.count > 0
			%li.type-title 現金
			- @emoney_accounts.each do |emoney|
				%a{ :href => edit_account_path(emoney.id) }
					%li.type-emoney
						=emoney.name
						.pull-right
							$
							=emoney.balance